<div class="mb-8 free_shipping_container">
  <h4 class="text-[14px] leading-6 tracking-wider font-light text-base-text mb-3 {{ classes }}">
    <span class="free_shipping_prev_text">You're</span>
    <span data-limit="{{ settings.free_shipping }}" class="free_shipping font-bold text-black"></span>
    <span class="free_shipping_text">away from <span class="font-bold text-black uppercase">free shipping!</span></span>
  </h4>
  <div class="w-full h-[8px] bg-[#D9D9D9] rounded-[4px] flex">
    <div class="w-0 h-full bg-black !inline-block rounded-[4px] progressive_bar_shipping_price"></div>
  </div>
</div>
